@font-face {
  font-family: "iconfont"; /* Project id 4686983 */
  src: url('./iconfont.woff2?t=1727172834575') format('woff2'),
       url('./iconfont.woff?t=1727172834575') format('woff'),
       url('./iconfont.ttf?t=1727172834575') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gouwuche-tianchong:before {
  content: "\e70c";
}

.icon-shaixuan:before {
  content: "\e68c";
}

.icon-shang:before {
  content: "\e60a";
}

.icon-xiala:before {
  content: "\e656";
}

.icon-shouye:before {
  content: "\e617";
}

.icon-zhongxindingwei:before {
  content: "\e620";
}

.icon-dizhi:before {
  content: "\e60c";
}

.icon-sousuo:before {
  content: "\e611";
}

