* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.h1,
.h2,
.h3,
.h4 {
  margin: 0;
}
.over1 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.over2 {
  display: -webkit-box;
  word-break: break-all;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}
.over3 {
  display: -webkit-box;
  word-break: break-all;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
}
.over4 {
  display: -webkit-box;
  word-break: break-all;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
  text-overflow: ellipsis;
}
.container_padding {
  padding: 100px 0 60px;
}
.container_content_padding {
  padding-top: 60px;
}
ul,
li {
  list-style: none;
}
html,
body {
  overflow-x: hidden;
  color: #333;
  font: 14px / 1.6 PingFang SC, Helvetica Neue, Helvetica, Tahoma, Arial, sans-serif;
}
a,
.link {
  display: inline-block;
  width: 100%;
}
a:hover {
  text-decoration: none;
}
a:focus {
  text-decoration: none;
}
img {
  vertical-align: middle;
  object-fit: cover;
}
.cover_box {
  overflow: hidden;
}
.cover_box .cover {
  width: 100%;
  transition: 0.4s ease-in;
}
.box_shadow {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}
.box_radius {
  border-radius: 4px;
}
.uppercase {
  text-transform: uppercase;
}
body::-webkit-scrollbar {
  width: 8px;
}
body::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  opacity: 0.2;
}
body::-webkit-scrollbar-thumb {
  background-color: #cccccc;
  border-radius: 5px;
}
body::-webkit-scrollbar-thumb:hover {
  background-color: #999;
}
.container {
  max-width: 1500px;
  width: 100%;
  margin: auto;
}
.row {
  margin: 0;
  padding: 0;
}
.btn:focus {
  border: none !important;
  outline: none !important;
}
.layui-input:focus {
  border-color: #eee !important;
  box-shadow: 0 0 0 1px rgba(233, 47, 47, 0.6);
}
.layui-textarea:focus {
  border-color: #eee !important;
  box-shadow: 0 0 0 1px rgba(233, 47, 47, 0.6);
}
.btn:focus {
  border: none !important;
  outline: none !important;
}
.title {
  font-size: 28px;
  line-height: 38px;
  font-weight: 500;
  color: #000;
}
.lead {
  font-size: 16px;
  line-height: 28px;
  font-weight: 500;
  color: #000;
  margin-bottom: 0;
}
.img_bg {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.paging .nav_box {
  text-align: center;
}
.paging .nav_box .pagination {
  display: flex;
  justify-content: center;
}
.paging .nav_box .pagination li {
  display: inline-block;
  margin: 0 3px;
}
.paging .nav_box .pagination li a {
  color: #6BBB41;
}
.paging .nav_box .pagination .active a {
  background-color: #6BBB41;
  border-color: #6BBB41;
  color: #fff;
}
.animate {
  transition: 0.4s ease;
}
.flex_center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.inline_block {
  display: inline-block;
}
.autoplay-progress {
  position: absolute;
  right: 16px;
  bottom: 20%;
  z-index: 10;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #fff;
}
.autoplay-progress svg {
  --progress: 0;
  position: absolute;
  left: 0;
  top: 0px;
  z-index: 10;
  width: 100%;
  height: 100%;
  stroke-width: 4px;
  stroke: #fff;
  fill: none;
  stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
  stroke-dasharray: 125.6;
  transform: rotate(-90deg);
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background: transparent;
  transition: 0.7s ease;
}
.header .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .content .logo {
  position: relative;
  z-index: 20;
}
.header .content .logo .cover {
  width: 120px;
}
.header .content .right {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 20;
}
.header .content .right .nav {
  display: flex;
}
.header .content .right .nav .li {
  cursor: pointer;
  position: relative;
}
.header .content .right .nav .li .head_title {
  height: 80px;
  line-height: 80px;
  padding: 0 34px;
  font-size: 16px;
  color: #fff;
  font-weight: 500;
  white-space: nowrap;
  position: relative;
}
.header .content .right .nav .li .head_title .link {
  font-size: 16px;
  color: #fff;
  font-weight: 500;
}
.header .content .right .nav .li .head_title::before {
  content: '';
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 24px;
  height: 2px;
  border-radius: 6px;
  background: #fff;
  overflow: hidden;
  transition: 0.4s ease;
  opacity: 0;
}
.header .content .right .nav .li .child_head_title {
  padding: 10px 0;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  font-weight: 500;
  text-align: center;
}
.header .content .right .nav .li .child {
  position: absolute;
  top: 80px;
  left: 0;
  padding: 0 10px;
  display: none;
}
.header .content .right .nav .li .child .lis {
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}
.header .content .right .nav .li .child .lis:last-child {
  border-bottom: none;
}
.header .content .right .nav .li:hover {
  background: rgba(0, 0, 0, 0.5);
}
.header .content .right .nav .li:hover .head_title::before {
  opacity: 1;
  bottom: 18px;
}
.header .content .right .nav .li:hover .child {
  background: rgba(0, 0, 0, 0.5);
  display: block;
}
.header .content .right .function {
  display: flex;
  align-items: center;
}
.header .content .right .function .circle {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  text-align: center;
  line-height: 36px;
}
.header .content .right .function .circle .cover {
  width: 15px;
}
.header .content .right .function .item {
  background: #fff;
  margin-left: 14px;
  cursor: pointer;
  border-radius: 34px;
}
.header .content .right .function .language {
  position: relative;
  width: 80px;
  background: #fff;
  margin-left: 14px;
  border-radius: 46px;
}
.header .content .right .function .flex_center .text {
  padding: 0 4px;
}
.header .content .right .function .language_head {
  text-align: center;
  height: 36px;
  line-height: 36px;
  cursor: pointer;
}
.header .content .right .function .language_list {
  position: absolute;
  top: 36px;
  left: 0;
  width: 100%;
  background: #fff;
  padding: 0 10px;
  display: none;
}
.header .content .right .function .language_list .language_li .link {
  padding: 10px 0;
}
.header .content .right .function .language_list .language_li .link .text {
  font-size: 14px;
  font-weight: 500;
}
.header .content .right .function .menu {
  cursor: pointer;
  width: 30px;
  height: 20px;
  position: relative;
  display: none;
  margin-left: 10px;
}
.header .content .right .function .menu .lis {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  transition: all 0.3s ease;
  border-radius: 2px;
  background: #000;
  transform-origin: 50% 50%;
}
.header .content .right .function .menu .lis:nth-child(1) {
  top: 0;
}
.header .content .right .function .menu .lis:nth-child(2) {
  width: 60%;
  top: 50%;
  left: 40%;
  transform: translateY(-50%);
}
.header .content .right .function .menu .lis:nth-child(3) {
  top: 98%;
}
.header .content .right .function .active .lis:nth-child(1) {
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}
.header .content .right .function .active .lis:nth-child(2) {
  display: none;
}
.header .content .right .function .active .lis:nth-child(3) {
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
}
.header .content .right .function .item:hover {
  transform: translateY(-2px);
}
.header .content .right .function .language:hover {
  border-radius: 0;
}
.header .content .right .function .language:hover .icon_bottom {
  transform: rotate(-180deg);
}
.header .content .right .function .language:hover .language_list {
  display: block;
}
.h5_nav {
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(257.93deg, #6cbb41 0%, #33499c 100%);
  padding: 80px 20px;
  transition: 0.7s ease-out;
  overflow: hidden;
  z-index: 10;
}
.h5_nav .left_ {
  position: absolute;
  top: 10%;
  left: 0;
  z-index: -1;
}
.h5_nav .right_ {
  position: absolute;
  bottom: 10%;
  right: 0;
  z-index: -1;
}
.h5_nav .li .head_title {
  padding: 14px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.h5_nav .li .head_title .title,
.h5_nav .li .head_title .iconfont {
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  display: inline-block;
}
.h5_nav .li .child .lis {
  text-align: right;
}
.h5_nav .li .child .lis .child_head_title {
  padding: 14px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.h5_nav .li .child .lis .child_head_title .child_title,
.h5_nav .li .child .lis .child_head_title .iconfont {
  font-size: 14px;
  font-weight: 500;
  color: #fff;
}
.h5_nav .li .box {
  text-align: right;
}
.h5_nav .child_li .head_title .rotateIcon {
  transform: rotate(90deg);
}
.h5_nav .child_li .child {
  height: 0;
  opacity: 0;
}
.h5_nav .child_li .childActive {
  height: auto;
  opacity: 1;
}
.h5_nav .h5_language {
  display: flex;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.h5_nav .h5_language .box {
  flex: 1;
  text-align: center;
  position: relative;
}
.h5_nav .h5_language .box .link {
  padding: 20px 0;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.h5_nav .h5_language .box .link .cover {
  width: 24px;
}
.h5_nav .h5_language .box .link .text {
  padding-left: 6px;
}
.h5_nav .h5_language .box:nth-child(2)::after {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 1px;
  height: 70%;
  background: #fff;
}
.h5_nav_active {
  left: 0;
}
.modal {
  padding: 0 !important;
}
.modal .sub_head {
  font-size: 14px;
  line-height: 24px;
  color: #B4B4B4;
  margin: 10px 0 0;
}
.modal .modal-dialog {
  margin-top: 200px;
}
.modal .modal-body {
  padding: 30px;
}
.modal .modal-body video {
  width: 100%;
}
.center_head {
  padding: 40px 0;
  text-align: center;
}
.center_head .deep {
  font-size: 100px;
  color: #141313;
  font-weight: 600;
  opacity: 0.04;
}
.center_head .h3 {
  display: inline-block;
  padding: 20px 60px;
  background: linear-gradient(276.14deg, #6cbc41 0%, #33499c 100%);
  border-radius: 24px 4px;
  color: #fff;
  transform: translateY(-50px);
  position: relative;
}
.center_head .h3::before {
  content: '';
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
  height: 3px;
  border-radius: 2px;
  background: #fff;
}
._right {
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  right: -300px;
  width: 680px;
  z-index: -1;
}
._center {
  position: absolute;
  left: -6%;
  bottom: -6%;
  width: 700px;
  z-index: -1;
}
.head_bg {
  position: absolute;
  right: 0;
  top: 10%;
  font-size: 180px;
  font-weight: 600;
  color: #141313;
  opacity: 0.04;
}
.left_head_bg {
  position: absolute;
  left: 0;
  top: 24%;
  font-size: 180px;
  font-weight: 600;
  color: #141313;
  opacity: 0.04;
}
@keyframes upIde {
  0% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(5px);
  }
}
.upAnimation {
  animation: upIde 3s infinite linear alternate;
}
@keyframes fadeOut {
  0% {
    background: rgba(255, 196, 0, 0.3);
  }
  100% {
    background: rgba(209, 209, 209, 0.6);
  }
}
.fadeOutAnimation {
  animation: fadeOut 2s infinite linear alternate;
}
.banner {
  position: relative;
}
.banner .cover_box .cover {
  height: 100vh;
}
.banner .content {
  position: absolute;
  width: 1500px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.banner .content .h3 {
  display: inline-block;
  width: auto;
  min-width: 400px;
  height: 84px;
  line-height: 84px;
  background: linear-gradient(60deg, #fff 0, #ffffff00 100%);
  padding: 0 30px;
  color: #fff;
  font-size: 36px;
  opacity: 0.9;
}
.banner .content .sub {
  font-size: 28px;
  color: #fff;
  padding: 20px 0;
}
.auto_banner .cover_box .cover {
  height: auto;
  min-height: 500px;
}
.article {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 12px;
  padding: 20px;
  margin-bottom: 30px;
  background: #F9F9F9;
}
.article .up {
  flex: 1;
  padding-right: 20px;
}
.article .up .lead {
  text-align: left;
}
.article .up .lead .link {
  padding: 4px 0;
  width: auto;
  color: #000;
  text-indent: 0;
}
.article .return {
  flex: none;
  width: 160px;
}
.article .return .link {
  height: 54px;
  line-height: 54px;
  background: linear-gradient(44.37deg, #ffab53 0%, #ff514a 100%);
  border-radius: 45px;
  color: #fff;
  font-size: 16px;
  text-align: center;
}
.author {
  padding: 20px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  text-align: center;
}
.author .text {
  font-size: 16px;
  color: #B5B5B5;
  padding: 0 14px;
}
.index_banner .slide {
  position: relative;
  height: 100vh;
  overflow: hidden;
}
.index_banner .slide .slide-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-size: cover;
  background-position: center;
}
.index_banner .slide .content {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.index_banner .slide .content .banner_title {
  width: 50%;
  padding: 12px 30px;
  background: linear-gradient(90deg, #6bbb41 0%, #51935600 100%);
  font-size: 50px;
  line-height: 60px;
  font-weight: 500;
  color: #fff;
}
.index_banner .slide .content .banner_sub_title {
  width: 50%;
  padding: 20px 0;
  font-size: 40px;
  line-height: 50px;
  color: #fff;
  font-weight: 400;
}
.index_banner .slide .content .banner_line {
  width: 131px;
  height: 8px;
  background: linear-gradient(90deg, #6bbb41 0%, #63a84a00 100%);
  opacity: 0.81;
}
.index_banner .slide .content .lead {
  width: 50%;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
  font-weight: 400;
  margin-top: 20px;
}
.index_banner .bottom_cover {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  height: 120px;
}
.index_banner .bottom_cover .cover {
  height: 100%;
}
.footer {
  margin-top: 200px;
  padding: 220px 0 0;
  position: relative;
  background-position: top center;
}
.footer .content {
  padding: 80px 0;
}
.footer .content .list .title {
  font-size: 16px;
  letter-spacing: 1px;
  color: #fff;
  font-weight: 600;
}
.footer .content .list .ul {
  margin-top: 10px;
}
.footer .content .list .ul .li .link {
  font-size: 14px;
  line-height: 24px;
  color: #fff;
  font-weight: 500;
  padding: 6px 0;
  transition: 0.3s ease-out;
}
.footer .content .list .ul .li .link .iconfont {
  padding-right: 4px;
}
.footer .content .list .ul .li .link:hover {
  transform: skew(6deg) translateX(10px);
  color: #33499C;
}
.footer .content .blogroll_list {
  padding-top: 14px;
  display: flex;
}
.footer .content .blogroll_list .b_li {
  margin-right: 10px;
}
.footer .content .blogroll_list .cover_box {
  width: 30px;
  height: 30px;
}
.footer .content .right .lead {
  padding: 10px 0;
  color: #fff;
  text-align: center;
}
.footer .copyright {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding: 24px 0;
  text-align: center;
}
.footer .copyright span,
.footer .copyright .link {
  width: auto;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
  font-weight: 500;
  padding: 0 20px;
}
.development_trend {
  position: relative;
}
.development_trend .main .content .date {
  font-size: 64px;
  color: #33499C;
  font-weight: 600;
}
.development_trend .main .content .date .year {
  font-size: 28px;
  color: #000;
  font-weight: 500;
}
.development_trend .main .content .title {
  font-size: 20px;
  line-height: 30px;
  margin: 10px 0 20px;
}
.development_trend .main .content .lead {
  color: #666666;
}
.development_trend .main .content .more {
  padding: 20px 0 36px;
}
.development_trend .main .content .more .link {
  width: 170px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  background: linear-gradient(276.14deg, #6cbc41 0%, #33499c 100%);
  color: #fff;
  position: relative;
}
.development_trend .main .content .more .link::after,
.development_trend .main .content .more .link::before {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 14px;
  height: 2px;
  background: #fff;
}
.development_trend .main .content .more .link::after {
  right: 30px;
}
.development_trend .main .content .more .link::before {
  left: 30px;
}
.development_trend .main .content .menu .development_trend_menu {
  padding: 10px 20px 10px 0;
}
.development_trend .main .content .menu .development_trend_menu .slide {
  border-radius: 5px 24px;
  cursor: pointer;
  transition: 0.4s ease;
}
.development_trend .main .content .menu .development_trend_menu .slide .cover_box {
  border-radius: 5px 24px;
}
.development_trend .main .content .menu .development_trend_menu .active {
  box-shadow: 8px 4px 10px rgba(0, 0, 0, 0.2);
}
.development_trend .main .menu,
.development_trend .main .trend {
  overflow: hidden;
}
.development_trend .main .primary_trend_swiper {
  padding: 20px 30px;
}
.development_trend .main .primary_trend_swiper .slide {
  overflow: hidden;
  border-radius: 20px;
}
.development_trend .main .primary_trend_swiper .cover {
  object-fit: cover;
  min-height: 500px;
}
.about {
  position: relative;
}
.about .main {
  position: relative;
}
.about .cover_box {
  position: relative;
}
.about .cover_box .shade {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 0 80px 0 0;
}
.about .cover_box .shade .cover {
  width: 80px;
  height: 80px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
.about .cover_box:hover .shade {
  opacity: 1;
}
.about .content {
  padding: 30px 40px;
  min-height: 460px;
}
.about .content .name {
  font-size: 18px;
  color: #918C8C;
  padding: 10px 0;
}
.about .content .h3 {
  padding: 20px;
  background: linear-gradient(276.14deg, #6cbc41 0%, #33499c 100%);
  color: #fff;
  margin-bottom: 20px;
}
.about .content .lead {
  font-size: 14px;
  line-height: 24px;
  color: #878686;
  margin-bottom: 6px;
}
.about .data {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 60%;
  background: #fff;
  border-radius: 30px 0 0 0;
  padding: 30px 0 20px;
}
.about .data .box {
  text-align: center;
}
.about .data .box .text {
  font-size: 18px;
  color: #6B6B6B;
}
.about .data .box .date {
  padding-top: 6px;
}
.about .data .box .date .num {
  font-size: 56px;
  font-weight: 600;
  color: #33499C;
}
.about .data .box .date .ide {
  font-size: 20px;
  color: #33499C;
}
.product {
  position: relative;
}
.product .main .content {
  padding: 30px 40px;
  min-height: 650px;
  display: flex;
  align-items: center;
}
.product .main .content .name {
  font-size: 18px;
  color: #918C8C;
  padding: 10px 0;
}
.product .main .content .h3 {
  padding: 20px;
  background: linear-gradient(276.14deg, #6cbc41 0%, #33499c 100%);
  color: #fff;
  margin-bottom: 20px;
}
.product .main .content .lead {
  font-size: 14px;
  line-height: 24px;
  color: #878686;
  margin-bottom: 6px;
}
.product .main .content .link {
  display: inline-block;
  width: auto;
  margin-top: 30px;
  color: #33499C;
  font-weight: 500;
  font-size: 18px;
}
.product .main .product_list .item {
  margin-bottom: 30px;
  position: relative;
}
.product .main .product_list .item .b_content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product .main .product_list .item .b_content .l_text {
  flex: 1;
  padding-right: 10px;
  color: #fff;
}
.product .main .product_list .item .b_content .l_text .sub {
  font-size: 14px;
}
.product .main .product_list .item .b_content .l_text .l_name {
  font-size: 18px;
  font-weight: 600;
}
.product .main .product_list .item .b_content .price {
  flex: none;
  color: #FFE600;
}
.product .main .product_list .item .b_content .price .num {
  font-size: 24px;
  font-weight: 600;
}
.product .main .product_list .col_md:first-child {
  padding-top: 30%;
}
.organization .content {
  padding-top: 20%;
  color: #fff;
}
.organization .content .name {
  font-size: 18px;
}
.organization .content .title {
  font-size: 26px;
  line-height: 36px;
  color: #fff;
  padding: 10px 0;
}
.organization .content .lead {
  color: #fff;
  font-weight: 400;
}
.organization .content .arrow {
  margin-top: 30px;
}
.organization .content .arrow .iconfont {
  cursor: pointer;
  font-size: 26px;
  color: #fff;
  margin-right: 20px;
  font-weight: 400;
  opacity: 0.3;
}
.organization .content .arrow .iconfont:hover {
  opacity: 1;
}
.organization .organization_list {
  overflow-x: hidden;
}
.organization .organization_list .organization_swiper .slide {
  padding: 60px 0;
}
.organization .organization_list .organization_swiper .slide .item {
  border-radius: 100px 0;
  box-shadow: 0 0 46px #00000026;
  position: relative;
  height: 240px;
  padding: 60px 20px 20px;
  text-align: center;
  background: linear-gradient(219.63deg, #c7df8f 0%, #1ea4ae 100%);
}
.organization .organization_list .organization_swiper .slide .item .cover_box {
  width: 120px;
  height: 120px;
  position: absolute;
  top: -24%;
  left: 50%;
  transform: translateX(-50%);
}
.organization .organization_list .organization_swiper .slide .item .name {
  font-size: 18px;
  color: #fff;
}
.organization .organization_list .organization_swiper .slide .item .lead {
  margin: 10px 0 0;
  font-size: 12px;
  line-height: 24px;
  color: #fff;
  font-weight: 400;
  opacity: 0.8;
}
.organization .organization_list .organization_swiper .slide .item .link {
  margin-top: 12px;
  font-size: 14px;
  width: auto;
  color: #fff;
  font-weight: 400;
}
.organization .organization_list .organization_swiper .slide:nth-child(1) .item {
  background: linear-gradient(219.63deg, #c7df8f 0%, #1ea4ae 100%);
}
.organization .organization_list .organization_swiper .slide:nth-child(2) .item {
  background: linear-gradient(45deg, #d74177 0%, #ffe98a 100%);
}
.organization .organization_list .organization_swiper .slide:nth-child(3) .item {
  background: linear-gradient(44.37deg, #bec95b 0%, #ffc400 100%);
}
.recommend {
  position: relative;
  padding: 200px 0;
}
.recommend .main {
  border-radius: 200px 50px;
  background: #fff;
  box-shadow: 0 0 85px #00000014;
}
.recommend .main .content {
  padding-bottom: 40px;
}
.recommend .main .content .col_md {
  position: relative;
}
.recommend .main .content .col_md .re_line {
  margin: 10px auto;
}
.recommend .main .content .col_md:nth-child(1) .re_line {
  width: 40px;
  height: 3px;
  border-radius: 1.5px;
  background: linear-gradient(270deg, #00b0ff 0%, #31489b 100%);
  box-shadow: 0 0 20px #71717159;
}
.recommend .main .content .col_md:nth-child(2) .re_line {
  width: 40px;
  height: 3px;
  border-radius: 1.5px;
  background: linear-gradient(270deg, #ffa246 0%, #cb0909 100%);
  box-shadow: 0 0 20px #71717159;
}
.recommend .main .content .col_md:nth-child(2)::before {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 1px;
  height: 200px;
  background: #c7c7c7;
  opacity: 0.4;
}
.recommend .main .content .col_md:nth-child(2)::after {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  width: 1px;
  height: 200px;
  background: #c7c7c7;
  opacity: 0.4;
}
.recommend .main .content .col_md:nth-child(3) .re_line {
  width: 40px;
  height: 3px;
  border-radius: 1.5px;
  background: linear-gradient(270deg, #70bb45 0%, #092c88 100%);
}
.recommend .main .content .item {
  text-align: center;
  transition: 0.8s ease;
}
.recommend .main .content .item .link {
  padding: 20px 30px;
}
.recommend .main .content .item .cover_box {
  width: 145px;
  height: 145px;
  margin: auto;
  transition: 0.8s ease;
}
.recommend .main .content .item .name {
  font-size: 26px;
  color: #000;
  margin-top: 10px;
}
.recommend .main .content .item .lead {
  color: #717171;
  font-weight: 400;
  margin-top: 20px;
}
.recommend .main .content .item:hover .cover_box {
  transform: scale(1.6);
}
.recommend .main .content .item:hover .re_line {
  display: none;
}
.recommend .main .content .item:hover .lead {
  display: none;
}
.join_us {
  position: absolute;
  top: -40%;
  left: 50%;
  transform: translateX(-50%);
}
.join_us .main {
  width: 1000px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 0 50px #0000001c;
  margin: auto;
  padding: 80px 100px;
  text-align: center;
}
.join_us .main .h3 {
  color: #33499C;
  font-size: 28px;
}
.join_us .main .sub {
  color: #848484;
  padding: 10px 0 20px;
}
.join_us .main .form {
  margin-bottom: 20px;
}
.join_us .main .form .wrap {
  border-radius: 45px;
  position: relative;
}
.join_us .main .form .wrap .input {
  border-radius: 50px;
  height: 50px;
  padding: 0 20px;
}
.join_us .main .form .wrap .btn {
  border-radius: 50px;
  background: linear-gradient(276.14deg, #6cbc41 0%, #33499c 100%);
  width: 250px;
  height: 50px;
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  font-size: 18px;
}
.join_us .main .lead {
  color: #848484;
  font-weight: 400;
}
.company_about {
  position: relative;
}
.company_about .head_bg {
  font-size: 140px;
}
.company_about .left_box {
  overflow: hidden;
}
.company_about .left_box .company_swiper .swiper-pagination {
  bottom: 20px;
}
.company_about .left_box .company_swiper .swiper-pagination .swiper-pagination-bullet {
  background: #fff;
  opacity: 0.7;
}
.company_about .left_box .company_swiper .swiper-pagination .swiper-pagination-bullet-active {
  width: 20px;
  opacity: 1;
  border-radius: 4px;
}
.company_about .content {
  padding: 40px 0 40px 40px;
}
.company_about .content .date {
  font-size: 24px;
  line-height: 34px;
  color: #918C8C;
  padding: 10px 0;
}
.company_about .content .name {
  display: inline-block;
  width: 350px;
  height: 80px;
  font-size: 34px;
  line-height: 80px;
  padding-left: 30px;
  border-radius: 10.1px 50.5px 50.5px 10.1px;
  background: linear-gradient(276.14deg, #6cbc41 0%, #33499c 100%);
  color: #fff;
  margin-bottom: 20px;
}
.company_about .content .lead {
  font-size: 14px;
  line-height: 26px;
  color: #878686;
}
.company_about ._right {
  top: 90%;
}
.company_about .course {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}
.company_about .course .wrap {
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  width: 120px;
  height: 120px;
  justify-content: center;
  align-items: center;
  background: linear-gradient(232.03deg, #c4de8f 0%, #1ea4ae 100%);
  filter: drop-shadow(10px 0 20px #71717142);
  color: #fff;
}
.company_about .course .wrap .w_name {
  font-size: 20px;
  padding-bottom: 8px;
}
.company_about .course .wrap .iconfont {
  font-size: 18px;
}
.history_swiper {
  position: relative;
  height: 460px;
  padding: 20px 40px;
  margin: 40px 0;
}
.history_swiper .item .date {
  height: 42px;
  line-height: 42px;
  font-size: 24px;
  color: #D1D1D1;
}
.history_swiper .item .dot {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 10px 0;
  position: relative;
}
.history_swiper .item .dot .child_dot {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 18px;
  height: 18px;
  background: #D1D1D1;
  border-radius: 50%;
}
.history_swiper .item .content {
  border-radius: 4px;
  background: #F9F9F9;
  padding: 20px;
  margin-top: 26px;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.1);
}
.history_swiper .item .content .lead {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  margin-bottom: 10px;
  padding-left: 20px;
}
.history_swiper .item .content .cover_box {
  display: none;
}
.history_swiper .item .content .cover_box .cover {
  height: 150px;
}
.history_swiper .swiper-slide-active .date {
  font-size: 34px;
  color: #33499C;
  font-weight: 600;
}
.history_swiper .swiper-slide-active .dot {
  background: rgba(255, 196, 0, 0.3);
}
.history_swiper .swiper-slide-active .dot .child_dot {
  background: linear-gradient(217.53deg, #ffc400 0%, #bec95b 100%);
}
.history_swiper .swiper-slide-active .dot::after {
  content: '';
  position: absolute;
  top: 25px;
  left: 19px;
  width: 1px;
  height: 70px;
  background: #D1D1D1;
}
.history_swiper .swiper-slide-active .dot::before {
  content: '';
  position: absolute;
  top: 94px;
  left: 15px;
  width: 10px;
  height: 10px;
  border: 2px solid #D1D1D1;
  border-radius: 50%;
  background: #fff;
}
.history_swiper .swiper-slide-active .content {
  background: #fff;
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.1);
}
.history_swiper .swiper-slide-active .content .cover_box {
  display: block;
}
.history_swiper .history_line {
  position: absolute;
  top: 92px;
  left: 0;
  width: 100%;
  height: 2px;
  border-top: 2px dashed #D1D1D1;
}
.serve_project {
  padding-top: 20px;
  min-height: 700px;
  position: relative;
  margin-bottom: 200px;
}
.serve_project .center_head .deep {
  opacity: 0.1;
}
.serve_project .history_line {
  position: absolute;
  top: 152px;
  left: 0;
  width: 100%;
  height: 1px;
  background: #ccc;
}
.serve_project .project {
  position: absolute;
  top: 250px;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  height: 600px;
  background: #fff;
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.1);
  padding: 40px 40px 30px;
  border-radius: 8px;
  overflow: hidden;
}
.serve_project .project .project_swiper {
  overflow: hidden;
}
.serve_project .project .slide {
  text-align: center;
  padding: 30px 0 0 0;
  position: relative;
}
.serve_project .project .slide .name {
  height: 42px;
  line-height: 42px;
  font-size: 24px;
  color: #5E5E5E;
  margin-bottom: 20px;
}
.serve_project .project .slide .dot {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 10px 0;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.serve_project .project .slide .dot .child_dot {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 18px;
  height: 18px;
  background: #D1D1D1;
  border-radius: 50%;
}
.serve_project .project .swiper-slide-active .name {
  color: #33499C;
  font-size: 28px;
}
.serve_project .project .swiper-slide-active .dot {
  background: rgba(255, 196, 0, 0.3);
}
.serve_project .project .swiper-slide-active .dot .child_dot {
  background: linear-gradient(217.53deg, #ffc400 0%, #bec95b 100%);
}
.serve_project .project_content_swiper {
  overflow: hidden;
}
.serve_project .project_content_swiper .content {
  text-align: left;
  padding-right: 30px;
}
.serve_project .project_content_swiper .content .c_name {
  color: #000;
  font-size: 26px;
  font-weight: 600;
}
.serve_project .project_content_swiper .content .sub {
  color: #A4A4A4;
  padding: 8px 0 16px;
}
.serve_project .project_content_swiper .content .lead {
  font-size: 14px;
  line-height: 26px;
  color: #A4A4A4;
  font-weight: 400;
}
.honor .center_head {
  padding-bottom: 0;
}
.honor .center_head .h3 {
  background: linear-gradient(238.11deg, #743c94 0%, #6aa6db 100%);
}
.honor .main {
  padding: 0 40px;
  position: relative;
}
.honor .main .honor_swiper {
  overflow: hidden;
  padding: 10px;
}
.honor .main .honor_swiper .slide {
  padding: 30px;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.1);
  text-align: center;
  border-radius: 12px;
  cursor: pointer;
}
.honor .main .honor_swiper .slide .cover_box {
  margin-bottom: 20px;
}
.honor .main .honor_swiper .slide .cover_box .cover {
  height: 500px;
  object-fit: contain;
}
.honor .main .honor_swiper .honor_prev,
.honor .main .honor_swiper .honor_next {
  width: 70px;
  height: 70px;
  border-radius: 50px;
  box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.1);
  opacity: 1;
  background: #fff;
  text-align: center;
  line-height: 70px;
}
.honor .main .honor_swiper .honor_prev .iconfont,
.honor .main .honor_swiper .honor_next .iconfont {
  font-size: 38px;
  font-weight: 600;
  color: #C1C1C1;
}
.honor .main .honor_swiper .honor_prev::after,
.honor .main .honor_swiper .honor_next::after {
  display: none;
}
.honor .main .honor_swiper .honor_prev:hover .iconfont,
.honor .main .honor_swiper .honor_next:hover .iconfont {
  color: #33499C;
}
.honor .main .honor_swiper .honor_prev {
  left: -14px;
}
.honor .main .honor_swiper .honor_next {
  right: -14px;
}
.partner .list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.partner .list .li {
  width: 20%;
  margin-bottom: 40px;
}
.partner .list .li .cover_box {
  width: 230px;
  height: 230px;
  border-radius: 50%;
  box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.1);
  transition: 0.4s ease;
}
.partner .list .li:hover .cover_box {
  transform: scale(1.1);
}
.service_provider_list {
  position: relative;
}
.service_provider_list .item {
  position: relative;
  border-radius: 80px 0;
  overflow: hidden;
  margin: 40px 15px;
}
.service_provider_list .item .content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  opacity: 0.9;
}
.service_provider_list .item .content .box {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  padding: 0 40px;
  color: #fff;
  transition: 0.4s ease;
}
.service_provider_list .item .content .box .iconfont {
  font-size: 42px;
  color: #fff;
  display: inline-block;
  opacity: 0;
}
.service_provider_list .item .content .box .iconfont:hover {
  transform: scale(1.1);
}
.service_provider_list .item .content .box .name {
  color: #fff;
  font-size: 24px;
  line-height: 34px;
  margin: 20px 0 10px;
  transition: 0.4s ease;
}
.service_provider_list .item .content .box .x_line {
  width: 60px;
  height: 5px;
  border-radius: 1.5px;
  background: #fff;
  margin: 0 auto;
  margin-bottom: 20px;
}
.service_provider_list .item .content .box .lead {
  color: #fff;
  text-align: center;
  opacity: 0;
}
.service_provider_list .item:hover .content {
  background: linear-gradient(276.14deg, #6cbc41 0%, #33499c 100%);
}
.service_provider_list .item:hover .content .box {
  justify-content: center;
}
.service_provider_list .item:hover .content .box .iconfont {
  opacity: 1;
}
.service_provider_list .item:hover .content .box .lead {
  opacity: 1;
}
.product_center .main {
  width: 96%;
  margin: auto;
  position: relative;
  margin-bottom: 40px;
}
.product_center .menu .name {
  font-size: 20px;
  color: #000;
  font-weight: 600;
  padding: 10px 0;
}
.product_center .menu .box {
  margin-bottom: 30px;
}
.product_center .menu .category_list {
  line-height: 2;
  margin-bottom: 20px;
}
.product_center .menu .category_list .type {
  padding: 8px 0;
  cursor: pointer;
  display: inline-block;
  width: auto;
  line-height: 1.6;
}
.product_center .menu .category_list .type .iconfont {
  font-size: 12px;
  color: #DBDBDB;
  margin-right: 2px;
}
.product_center .menu .category_list .type .text {
  font-size: 16px;
}
.product_center .menu .category_list .child_list {
  padding-left: 20px;
  display: none;
}
.product_center .menu .category_list .child_list .child_li {
  color: #4D4D4D;
}
.product_center .menu .category_list .child_list .child_li .link {
  width: auto;
  line-height: 1.6;
}
.product_center .menu .category_list .child_list .child_li .iconfont {
  font-size: 20px;
  font-weight: 600;
  color: #CCCCCC;
}
.product_center .menu .category_list .active .type .iconfont {
  color: #FF5353;
}
.product_center .menu .category_list .active .type .text {
  font-weight: 600;
}
.product_center .menu .category_list .active .child_list {
  display: block;
}
.product_center .menu .price_range {
  padding-top: 10px;
}
.product_center .menu .price_range .price {
  margin-bottom: 14px;
  font-size: 16px;
}
.product_center .product_left_center {
  position: absolute;
  top: 40%;
  left: 0;
  width: 520px;
  z-index: -1;
}
.product_center .product_left_bottom {
  position: absolute;
  top: 85%;
  left: 10%;
  width: 400px;
  z-index: -1;
}
.product_center .product_top_right {
  position: absolute;
  top: 15%;
  right: -80px;
  width: 140px;
  z-index: -1;
}
.product_center .product_right_bottom {
  position: absolute;
  top: 75%;
  right: 0;
  width: 450px;
  z-index: -1;
}
.product_center .screen {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 30px;
}
.product_center .screen .product_nav {
  display: flex;
  align-items: center;
}
.product_center .screen .product_nav .condition {
  font-weight: 600;
  position: relative;
}
.product_center .screen .product_nav .condition::after {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  width: 1.5px;
  height: 14px;
  background: #ccc;
}
.product_center .screen .product_nav .link {
  padding: 0 30px;
  height: 23px;
}
.product_center .screen .product_nav .iconfont {
  display: inline-block;
}
.product_center .screen .product_nav .condition:first-child .link {
  padding-left: 14px;
}
.product_center .screen .product_nav .condition:last-child::after {
  display: none;
}
.product_center .screen .product_nav .active .link .text {
  font-weight: 600;
  color: #FF0000;
}
.product_center .screen .search_item {
  display: flex;
  align-items: center;
  border-radius: 45px;
  background: #F8F8F8;
  box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  height: 50px;
  width: 280px;
}
.product_center .screen .search_item .input {
  border: none;
  outline: none;
  background: none;
  padding: 0 12px;
}
.product_center .screen .search_item .icon button {
  background: none;
  border: none;
  padding: 4px 0 4px 20px;
}
.product_center .screen .search_item .icon button .iconfont {
  font-size: 20px;
  color: #FF0000;
  font-weight: 500;
}
.product_center .screen .search_item .icon button::before,
.product_center .screen .search_item .icon button::after {
  display: none;
}
.product_center .screen .search_item .input:focus {
  box-shadow: none;
}
.product_center .list .col_md {
  padding: 0 10px;
}
.product_center .list .item {
  margin-bottom: 20px;
}
.product_center .list .item .link {
  box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  background: #fff;
  transition: 0.4s ease;
}
.product_center .list .item .link .cover_box {
  position: relative;
  background: #F7F7F7;
  border-radius: 4px;
  overflow: hidden;
}
.product_center .list .item .link .cover_box .cover {
  height: 270px;
}
.product_center .list .item .link .cover_box .shopping_label {
  position: absolute;
  top: 6px;
  right: 6px;
  width: auto;
}
.product_center .list .item .link .content {
  padding: 14px;
}
.product_center .list .item .link .content .name {
  height: 56px;
  font-size: 18px;
  line-height: 1.6;
  text-align: left;
  word-break: break-all;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.product_center .list .item .link .content .name .label_title {
  vertical-align: text-bottom;
  display: inline-block;
  line-height: normal;
}
.product_center .list .item .link .content .name .label_title .label_cover {
  width: auto;
  height: 24px;
}
.product_center .list .item .link .content .name .text {
  color: #000;
}
.product_center .list .item .link .content .price {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.product_center .list .item .link .content .price .current {
  color: #FC7600;
  font-weight: 600;
  margin-right: 6px;
}
.product_center .list .item .link .content .price .current .num {
  font-size: 28px;
}
.product_center .list .item .link .content .price .formerly {
  color: #CFCFCF;
  font-size: 14px;
  text-decoration: line-through;
}
.product_center .list .item .link .content .lead {
  font-size: 16px;
  color: #4A4A4A;
  line-height: 1.6;
}
.product_center .list .item .link:hover {
  box-shadow: 0 0 3px 1px rgba(107, 187, 65, 0.7);
  transform: scale(1.03);
}
.goods_specification .main {
  padding-bottom: 88px;
}
.goods_specification .goods .goods_image {
  overflow: hidden;
}
.goods_specification .goods .goods_image .goods_item {
  border-radius: 8px;
  overflow: hidden;
}
.goods_specification .goods .swiper-pagination .swiper-pagination-bullet {
  background: #E6E6E6;
  opacity: 1;
}
.goods_specification .goods .swiper-pagination .swiper-pagination-bullet-active {
  width: 24px;
  height: 6px;
  border-radius: 3px;
  background: linear-gradient(120.1deg, #ffa50c 0%, #ff5d4b 100%);
}
.goods_specification .goods_content {
  line-height: 3;
  padding-left: 10px;
}
.goods_specification .goods_content .goods_label .cover {
  height: 24px;
}
.goods_specification .goods_content .title {
  margin: 8px 0;
}
.goods_specification .goods_content .price {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  line-height: 1.6;
}
.goods_specification .goods_content .price .current {
  color: #FF0000;
  font-weight: 600;
  margin-right: 10px;
}
.goods_specification .goods_content .price .current .num {
  font-size: 34px;
}
.goods_specification .goods_content .price .formerly {
  color: #CFCFCF;
  font-size: 14px;
  text-decoration: line-through;
}
.goods_specification .goods_content .lead {
  margin: 8px 0;
}
.goods_specification .goods_content .specification_select {
  display: flex;
  align-items: center;
  margin-top: 14px;
}
.goods_specification .goods_content .specification_select .name {
  font-size: 16px;
  font-weight: 500;
  color: #000;
}
.goods_specification .goods_content .specification_select .layui-input {
  background: #F0F2F2;
  border-radius: 4px;
}
.goods_specification .goods_content .specification_select .layui-form-select dl dd.layui-this {
  color: #6BBB41;
}
.goods_specification .add_cart {
  border-radius: 4px;
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.1);
  padding: 20px;
}
.goods_specification .add_cart .price {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  line-height: 1.6;
}
.goods_specification .add_cart .price .current {
  color: #FF0000;
  font-weight: 600;
  margin-right: 10px;
}
.goods_specification .add_cart .price .current .num {
  font-size: 34px;
}
.goods_specification .add_cart .price .formerly {
  color: #CFCFCF;
  font-size: 14px;
  text-decoration: line-through;
}
.goods_specification .add_cart .lead {
  line-height: 1.6;
}
.goods_specification .add_cart .address {
  padding: 10px 0;
  color: #757575;
}
.goods_specification .add_cart .address .iconfont {
  color: #FF0000;
}
.goods_specification .add_cart .store {
  font-size: 18px;
  color: #FF0000;
}
.goods_specification .add_cart .store_quantity {
  margin: 10px 0 20px;
  border-radius: 3px;
  background: #E6E6E6;
  display: flex;
  align-items: center;
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.1);
}
.goods_specification .add_cart .store_quantity .name {
  flex: none;
  padding-left: 10px;
}
.goods_specification .add_cart .store_quantity .input {
  background: none;
  border: none;
  font-size: 18px;
  padding-right: 10px;
}
.goods_specification .add_cart .store_quantity .input:focus {
  box-shadow: none;
}
.goods_specification .add_cart .add_btn {
  height: 50px;
  border-radius: 35px;
  background: linear-gradient(90deg, #ffd814 0%, #ff9710 100%);
  box-shadow: 3px 3px 8px #ffa11f52;
  color: #fff;
  font-size: 18px;
  text-align: center;
  line-height: 50px;
  margin-bottom: 14px;
  cursor: pointer;
}
.goods_specification .add_cart .buy {
  height: 50px;
  border-radius: 35px;
  background: linear-gradient(90deg, #f97a7a 0%, #f8b568 100%);
  box-shadow: 3px 3px 8px #ffa11f52;
  color: #fff;
  font-size: 18px;
  text-align: center;
  line-height: 50px;
  margin-bottom: 14px;
  cursor: pointer;
}
.goods_specification .add_cart .collect {
  cursor: pointer;
}
.goods_specification .goods_list {
  margin-top: 20px;
}
.goods_specification .goods_list .center_head .h3 {
  background: linear-gradient(220.93deg, #ffdd6e 0%, #d74177 100%);
  box-shadow: 0 0 46px #00000026;
}
.goods_specification .goods_list .list {
  max-width: 1200px;
  margin: auto;
}
.you_like {
  width: 94%;
  margin: auto;
}
.you_like .head_like {
  text-align: center;
  position: relative;
}
.you_like .head_like .title {
  font-weight: 600;
  width: auto;
  display: inline-block;
  padding: 0 30px;
}
.you_like .head_like::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 50px;
  transform: translateY(-50%);
  width: 40%;
  height: 1px;
  background: #D6D6D6;
}
.you_like .head_like::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50px;
  transform: translateY(-50%);
  width: 40%;
  height: 1px;
  background: #D6D6D6;
}
.you_like .like_box {
  overflow: hidden;
  margin-top: 60px;
}
.you_like .like_swiper {
  padding: 10px;
}
.you_like .like_swiper .item .link {
  box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  background: #fff;
  transition: 0.4s ease;
}
.you_like .like_swiper .item .link .cover_box {
  position: relative;
  background: #F7F7F7;
  border-radius: 4px;
  overflow: hidden;
}
.you_like .like_swiper .item .link .cover_box .cover {
  height: 270px;
}
.you_like .like_swiper .item .link .cover_box .shopping_label {
  position: absolute;
  top: 6px;
  right: 6px;
  width: auto;
}
.you_like .like_swiper .item .link .content {
  padding: 14px;
}
.you_like .like_swiper .item .link .content .name {
  height: 56px;
  font-size: 18px;
  line-height: 1.6;
  text-align: left;
  word-break: break-all;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.you_like .like_swiper .item .link .content .name .label_title {
  vertical-align: text-bottom;
  display: inline-block;
  line-height: normal;
}
.you_like .like_swiper .item .link .content .name .label_title .label_cover {
  width: auto;
  height: 24px;
}
.you_like .like_swiper .item .link .content .name .text {
  color: #000;
}
.you_like .like_swiper .item .link .content .price {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.you_like .like_swiper .item .link .content .price .current {
  color: #FC7600;
  font-weight: 600;
  margin-right: 6px;
}
.you_like .like_swiper .item .link .content .price .current .num {
  font-size: 28px;
}
.you_like .like_swiper .item .link .content .price .formerly {
  color: #CFCFCF;
  font-size: 14px;
  text-decoration: line-through;
}
.you_like .like_swiper .item .link .content .lead {
  font-size: 16px;
  color: #4A4A4A;
  line-height: 1.6;
}
.you_like .like_swiper .item .link:hover {
  box-shadow: 0 0 3px 1px rgba(107, 187, 65, 0.7);
  transform: scale(1.03);
}
.trend_list {
  position: relative;
  padding-bottom: 100px;
}
.trend_list .list {
  padding-bottom: 30px;
}
.trend_list .list .item {
  margin-bottom: 30px;
}
.trend_list .list .item .link {
  border-radius: 8px;
  box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.1);
  padding: 20px;
  background: #fff;
  display: flex;
  justify-content: space-between;
}
.trend_list .list .item .link .cover_box {
  border-radius: 4px;
  width: 370px;
  flex: none;
}
.trend_list .list .item .link .cover_box .cover {
  max-height: 300px;
}
.trend_list .list .item .link .content {
  flex: 1;
  padding: 10px 0 0 30px;
}
.trend_list .list .item .link .lead {
  color: #666666;
  margin-top: 10px;
}
.trend_list .list .item .link .date {
  margin-top: 20px;
  font-weight: 600;
  font-size: 20px;
}
.trend_list .list .item .link .date .day {
  font-size: 42px;
  font-weight: 600;
  color: #FF9100;
  padding-right: 2px;
}
.case_details .child_padding {
  padding-top: 30px;
}
.case_details .content {
  overflow-x: hidden;
}
.case_details .cover_box {
  padding: 10px 0;
}
.case_details .lead {
  text-indent: 2em;
  padding: 8px 0;
  font-weight: 400;
  line-height: 1.8;
}
.social_responsibility {
  padding-bottom: 100px;
  position: relative;
}
.social_responsibility .screen .s_box .layui-input {
  height: 60px;
  background: #F0F2F2;
  color: #000;
  font-size: 16px;
  border-radius: 4px;
}
.social_responsibility .screen .s_box .layui-form-select dl {
  top: 60px;
}
.social_responsibility .screen .s_box .search_item {
  display: flex;
  align-items: center;
  border-radius: 50px;
  background: #F0F2F2;
  box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  height: 60px;
}
.social_responsibility .screen .s_box .search_item .input {
  border: none;
  outline: none;
  background: none;
  padding: 0 12px;
}
.social_responsibility .screen .s_box .search_item .icon button {
  background: none;
  border: none;
  padding: 4px 0 4px 20px;
}
.social_responsibility .screen .s_box .search_item .icon button .iconfont {
  font-size: 20px;
  color: #FF0000;
  font-weight: 500;
}
.social_responsibility .screen .s_box .search_item .icon button::before,
.social_responsibility .screen .s_box .search_item .icon button::after {
  display: none;
}
.social_responsibility .screen .s_box .search_item .input:focus {
  box-shadow: none;
}
.social_responsibility .list {
  padding: 60px 0;
}
.social_responsibility .list .item {
  margin-bottom: 40px;
}
.social_responsibility .list .item .link {
  border-radius: 4px;
  box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.1);
  background: #fff;
  padding: 20px;
}
.social_responsibility .list .item .link .cover_box .cover {
  max-height: 310px;
}
.social_responsibility .list .item .link .content {
  padding: 20px 0 10px;
  line-height: 1.7;
}
.social_responsibility .list .item .link .content .date {
  color: #BEBEBE;
  font-size: 16px;
}
.social_responsibility .list .item .link .content .social_label {
  padding: 10px 0;
}
.social_responsibility .list .item .link .content .social_label .text {
  padding: 6px 12px;
  background: rgba(255, 0, 0, 0.3);
  color: #FF0000;
  border-radius: 3px;
}
.social_responsibility .list .item .link .content .lead {
  color: #BEBEBE;
}
.asked_questions {
  position: relative;
}
.asked_questions .list .item {
  background: #fff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  line-height: 1.6;
  margin-bottom: 40px;
}
.asked_questions .list .item .artcle_head {
  display: flex;
  justify-content: space-between;
}
.asked_questions .list .item .artcle_head .cover {
  width: 30px;
  object-fit: contain;
}
.asked_questions .list .item .artcle_head .title {
  flex: 1;
  padding: 0 10px;
  font-size: 20px;
  line-height: 1.8;
}
.asked_questions .list .item .artcle_head .icon .iconfont {
  font-size: 24px;
  display: inline-block;
  transition: 0.3s ease;
}
.asked_questions .list .item .down_content {
  padding-top: 20px;
  display: none;
}
.asked_questions .list .item .down_content .lead {
  font-size: 14px;
  line-height: 30px;
}
.asked_questions .list .active .artcle_head .title {
  color: #334899;
}
.asked_questions .list .active .artcle_head .icon .iconfont {
  transform: rotate(-180deg);
}
.asked_questions .list .active .down_content {
  display: block;
}
