* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.h1,
.h2,
.h3,
.h4 {
  margin: 0;
}
.over1 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.over2 {
  display: -webkit-box;
  word-break: break-all;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}
.over3 {
  display: -webkit-box;
  word-break: break-all;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
}
.over4 {
  display: -webkit-box;
  word-break: break-all;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
  text-overflow: ellipsis;
}
.container_padding {
  padding: 100px 0 60px;
}
.container_content_padding {
  padding-top: 60px;
}
ul,
li {
  list-style: none;
}
html,
body {
  overflow-x: hidden;
  color: #333;
  line-height: 1.6;
  font: 14px PingFang SC, Helvetica Neue, Helvetica, Tahoma, Arial, sans-serif;
}
a,
.link {
  display: inline-block;
  width: 100%;
}
a:hover {
  text-decoration: none;
}
a:focus {
  text-decoration: none;
}
img {
  vertical-align: middle;
  object-fit: cover;
}
.cover_box {
  overflow: hidden;
}
.cover_box .cover {
  width: 100%;
  transition: 0.4s ease-in;
}
.box_shadow {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}
.box_radius {
  border-radius: 4px;
}
.uppercase {
  text-transform: uppercase;
}
body::-webkit-scrollbar {
  width: 8px;
}
body::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  opacity: 0.2;
}
body::-webkit-scrollbar-thumb {
  background-color: #cccccc;
  border-radius: 5px;
}
body::-webkit-scrollbar-thumb:hover {
  background-color: #999;
}
.container {
  max-width: 1500px;
  width: 100%;
  margin: auto;
}
.row {
  margin: 0;
  padding: 0;
}
.btn:focus {
  border: none !important;
  outline: none !important;
}
.layui-input:focus {
  border-color: #eee !important;
  box-shadow: 0 0 0 1px rgba(233, 47, 47, 0.6);
}
.layui-textarea:focus {
  border-color: #eee !important;
  box-shadow: 0 0 0 1px rgba(233, 47, 47, 0.6);
}
.btn:focus {
  border: none !important;
  outline: none !important;
}
.title {
  font-size: 28px;
  line-height: 38px;
  font-weight: 500;
  color: #000;
}
.lead {
  font-size: 16px;
  line-height: 28px;
  font-weight: 500;
  color: #000;
  margin-bottom: 0;
}
.img_bg {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.paging .nav_box {
  text-align: center;
}
.paging .nav_box .pagination {
  display: flex;
  justify-content: center;
}
.paging .nav_box .pagination li {
  display: inline-block;
  margin: 0 3px;
}
.paging .nav_box .pagination li a {
  color: #33499C;
}
.paging .nav_box .pagination .active a {
  background-color: #33499C;
  border-color: #33499C;
  color: #fff;
}
.animate {
  transition: 0.4s ease;
}
.flex_center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.inline_block {
  display: inline-block;
}
.autoplay-progress {
  position: absolute;
  right: 16px;
  bottom: 20%;
  z-index: 10;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #fff;
}
.autoplay-progress svg {
  --progress: 0;
  position: absolute;
  left: 0;
  top: 0px;
  z-index: 10;
  width: 100%;
  height: 100%;
  stroke-width: 4px;
  stroke: #fff;
  fill: none;
  stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
  stroke-dasharray: 125.6;
  transform: rotate(-90deg);
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background: transparent;
  transition: 0.7s ease;
}
.header .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .content .logo {
  position: relative;
  z-index: 20;
}
.header .content .logo .cover {
  width: 120px;
}
.header .content .right {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 20;
}
.header .content .right .nav {
  display: flex;
}
.header .content .right .nav .li {
  cursor: pointer;
  position: relative;
}
.header .content .right .nav .li .head_title {
  height: 80px;
  line-height: 80px;
  padding: 0 34px;
  font-size: 16px;
  color: #fff;
  font-weight: 500;
  white-space: nowrap;
  position: relative;
}
.header .content .right .nav .li .head_title::before {
  content: '';
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 24px;
  height: 2px;
  border-radius: 6px;
  background: #fff;
  overflow: hidden;
  transition: 0.4s ease;
  opacity: 0;
}
.header .content .right .nav .li .child_head_title {
  padding: 10px 0;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  font-weight: 500;
  text-align: center;
}
.header .content .right .nav .li .child {
  position: absolute;
  top: 80px;
  left: 0;
  padding: 0 10px;
  display: none;
}
.header .content .right .nav .li .child .lis {
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}
.header .content .right .nav .li .child .lis:last-child {
  border-bottom: none;
}
.header .content .right .nav .li:hover {
  background: rgba(0, 0, 0, 0.5);
}
.header .content .right .nav .li:hover .head_title::before {
  opacity: 1;
  bottom: 18px;
}
.header .content .right .nav .li:hover .child {
  background: rgba(0, 0, 0, 0.5);
  display: block;
}
.header .content .right .function {
  display: flex;
  align-items: center;
}
.header .content .right .function .circle {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  text-align: center;
  line-height: 36px;
}
.header .content .right .function .circle .cover {
  width: 15px;
}
.header .content .right .function .item {
  background: #fff;
  margin-left: 14px;
  cursor: pointer;
  border-radius: 34px;
}
.header .content .right .function .language {
  position: relative;
  width: 80px;
  background: #fff;
  margin-left: 14px;
  border-radius: 46px;
}
.header .content .right .function .flex_center .text {
  padding: 0 4px;
}
.header .content .right .function .language_head {
  text-align: center;
  height: 36px;
  line-height: 36px;
  cursor: pointer;
}
.header .content .right .function .language_list {
  position: absolute;
  top: 36px;
  left: 0;
  width: 100%;
  background: #fff;
  padding: 0 10px;
  display: none;
}
.header .content .right .function .language_list .language_li .link {
  padding: 10px 0;
}
.header .content .right .function .language_list .language_li .link .text {
  font-size: 14px;
  font-weight: 500;
}
.header .content .right .function .menu {
  cursor: pointer;
  width: 30px;
  height: 20px;
  position: relative;
  display: none;
  margin-left: 10px;
}
.header .content .right .function .menu .lis {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  transition: all 0.3s ease;
  border-radius: 2px;
  background: #000;
  transform-origin: 50% 50%;
}
.header .content .right .function .menu .lis:nth-child(1) {
  top: 0;
}
.header .content .right .function .menu .lis:nth-child(2) {
  width: 60%;
  top: 50%;
  left: 40%;
  transform: translateY(-50%);
}
.header .content .right .function .menu .lis:nth-child(3) {
  top: 98%;
}
.header .content .right .function .active .lis:nth-child(1) {
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}
.header .content .right .function .active .lis:nth-child(2) {
  display: none;
}
.header .content .right .function .active .lis:nth-child(3) {
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
}
.header .content .right .function .item:hover {
  transform: translateY(-2px);
}
.header .content .right .function .language:hover {
  border-radius: 0;
}
.header .content .right .function .language:hover .icon_bottom {
  transform: rotate(-180deg);
}
.header .content .right .function .language:hover .language_list {
  display: block;
}
.h5_nav {
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(257.93deg, #6cbb41 0%, #33499c 100%);
  padding: 80px 20px;
  transition: 0.7s ease-out;
  overflow: hidden;
  z-index: 10;
}
.h5_nav .left_ {
  position: absolute;
  top: 10%;
  left: 0;
  z-index: -1;
}
.h5_nav .right_ {
  position: absolute;
  bottom: 10%;
  right: 0;
  z-index: -1;
}
.h5_nav .li .head_title {
  padding: 14px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.h5_nav .li .head_title .title,
.h5_nav .li .head_title .iconfont {
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  display: inline-block;
}
.h5_nav .li .child .lis {
  text-align: right;
}
.h5_nav .li .child .lis .child_head_title {
  padding: 14px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.h5_nav .li .child .lis .child_head_title .child_title,
.h5_nav .li .child .lis .child_head_title .iconfont {
  font-size: 14px;
  font-weight: 500;
  color: #fff;
}
.h5_nav .li .box {
  text-align: right;
}
.h5_nav .child_li .head_title .rotateIcon {
  transform: rotate(90deg);
}
.h5_nav .child_li .child {
  height: 0;
  opacity: 0;
}
.h5_nav .child_li .childActive {
  height: auto;
  opacity: 1;
}
.h5_nav .h5_language {
  display: flex;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.h5_nav .h5_language .box {
  flex: 1;
  text-align: center;
  position: relative;
}
.h5_nav .h5_language .box .link {
  padding: 20px 0;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.h5_nav .h5_language .box .link .cover {
  width: 24px;
}
.h5_nav .h5_language .box .link .text {
  padding-left: 6px;
}
.h5_nav .h5_language .box:nth-child(2)::after {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 1px;
  height: 70%;
  background: #fff;
}
.h5_nav_active {
  left: 0;
}
.modal {
  padding: 0 !important;
}
.modal .sub_head {
  font-size: 14px;
  line-height: 24px;
  color: #B4B4B4;
  margin: 10px 0 0;
}
.modal .modal-dialog {
  margin-top: 200px;
}
.modal .modal-body {
  padding: 30px;
}
.modal .modal-body video {
  width: 100%;
}
.center_head {
  padding: 40px 0;
  text-align: center;
}
.center_head .deep {
  font-size: 100px;
  color: #141313;
  font-weight: 600;
  opacity: 0.04;
}
.center_head .h3 {
  display: inline-block;
  padding: 20px 60px;
  background: linear-gradient(276.14deg, #6cbc41 0%, #33499c 100%);
  border-radius: 24px 4px;
  color: #fff;
  transform: translateY(-50px);
  position: relative;
}
.center_head .h3::before {
  content: '';
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
  height: 3px;
  border-radius: 2px;
  background: #fff;
}
._right {
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  right: -300px;
  width: 680px;
  z-index: -1;
}
._center {
  position: absolute;
  left: -6%;
  bottom: -6%;
  width: 700px;
  z-index: -1;
}
.head_bg {
  position: absolute;
  right: 0;
  top: 10%;
  font-size: 180px;
  font-weight: 600;
  color: #141313;
  opacity: 0.04;
}
.left_head_bg {
  position: absolute;
  left: 0;
  top: 24%;
  font-size: 180px;
  font-weight: 600;
  color: #141313;
  opacity: 0.04;
}
.banner {
  position: relative;
}
.banner .cover_box .cover {
  height: 100vh;
}
.banner .content {
  position: absolute;
  width: 1500px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.banner .content .h3 {
  display: inline-block;
  width: auto;
  min-width: 400px;
  height: 84px;
  line-height: 84px;
  background: linear-gradient(60deg, #fff 0, #ffffff00 100%);
  padding: 0 30px;
  color: #fff;
  font-size: 36px;
  opacity: 0.9;
}
.banner .content .sub {
  font-size: 28px;
  color: #fff;
  padding: 20px 0;
}
.index_banner .slide {
  position: relative;
  height: 100vh;
  overflow: hidden;
}
.index_banner .slide .slide-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-size: cover;
  background-position: center;
}
.index_banner .slide .content {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.index_banner .slide .content .banner_title {
  width: 50%;
  padding: 12px 30px;
  background: linear-gradient(90deg, #6bbb41 0%, #51935600 100%);
  font-size: 50px;
  line-height: 60px;
  font-weight: 500;
  color: #fff;
}
.index_banner .slide .content .banner_sub_title {
  width: 50%;
  padding: 20px 0;
  font-size: 40px;
  line-height: 50px;
  color: #fff;
  font-weight: 400;
}
.index_banner .slide .content .banner_line {
  width: 131px;
  height: 8px;
  background: linear-gradient(90deg, #6bbb41 0%, #63a84a00 100%);
  opacity: 0.81;
}
.index_banner .slide .content .lead {
  width: 50%;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
  font-weight: 400;
  margin-top: 20px;
}
.index_banner .bottom_cover {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  height: 120px;
}
.index_banner .bottom_cover .cover {
  height: 100%;
}
.footer {
  margin-top: 200px;
  padding: 220px 0 0;
  position: relative;
  background-position: top center;
}
.footer .content {
  padding: 80px 0;
}
.footer .content .list .title {
  font-size: 16px;
  letter-spacing: 1px;
  color: #fff;
  font-weight: 600;
}
.footer .content .list .ul {
  margin-top: 10px;
}
.footer .content .list .ul .li .link {
  font-size: 14px;
  line-height: 24px;
  color: #fff;
  font-weight: 500;
  padding: 6px 0;
  transition: 0.3s ease-out;
}
.footer .content .list .ul .li .link .iconfont {
  padding-right: 4px;
}
.footer .content .list .ul .li .link:hover {
  transform: skew(6deg) translateX(10px);
  color: #33499C;
}
.footer .content .blogroll_list {
  padding-top: 14px;
  display: flex;
}
.footer .content .blogroll_list .b_li {
  margin-right: 10px;
}
.footer .content .blogroll_list .cover_box {
  width: 30px;
  height: 30px;
}
.footer .content .right .lead {
  padding: 10px 0;
  color: #fff;
  text-align: center;
}
.footer .copyright {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding: 24px 0;
  text-align: center;
}
.footer .copyright span,
.footer .copyright .link {
  width: auto;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
  font-weight: 500;
  padding: 0 20px;
}
.development_trend {
  position: relative;
}
.development_trend .main .content .date {
  font-size: 64px;
  color: #33499C;
  font-weight: 600;
}
.development_trend .main .content .date .year {
  font-size: 28px;
  color: #000;
  font-weight: 500;
}
.development_trend .main .content .title {
  font-size: 20px;
  line-height: 30px;
  margin: 10px 0 20px;
}
.development_trend .main .content .lead {
  color: #666666;
}
.development_trend .main .content .more {
  padding: 20px 0 36px;
}
.development_trend .main .content .more .link {
  width: 170px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  background: linear-gradient(276.14deg, #6cbc41 0%, #33499c 100%);
  color: #fff;
  position: relative;
}
.development_trend .main .content .more .link::after,
.development_trend .main .content .more .link::before {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 14px;
  height: 2px;
  background: #fff;
}
.development_trend .main .content .more .link::after {
  right: 30px;
}
.development_trend .main .content .more .link::before {
  left: 30px;
}
.development_trend .main .content .menu .development_trend_menu {
  padding: 10px 20px 10px 0;
}
.development_trend .main .content .menu .development_trend_menu .slide {
  border-radius: 5px 24px;
  cursor: pointer;
  transition: 0.4s ease;
}
.development_trend .main .content .menu .development_trend_menu .slide .cover_box {
  border-radius: 5px 24px;
}
.development_trend .main .content .menu .development_trend_menu .active {
  box-shadow: 8px 4px 10px rgba(0, 0, 0, 0.2);
}
.development_trend .main .menu,
.development_trend .main .trend {
  overflow: hidden;
}
.development_trend .main .primary_trend_swiper {
  padding: 20px 30px;
}
.development_trend .main .primary_trend_swiper .slide {
  overflow: hidden;
  border-radius: 20px;
}
.development_trend .main .primary_trend_swiper .cover {
  object-fit: cover;
  min-height: 500px;
}
.about {
  position: relative;
}
.about .main {
  position: relative;
}
.about .cover_box {
  position: relative;
}
.about .cover_box .shade {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 0 80px 0 0;
}
.about .cover_box .shade .cover {
  width: 80px;
  height: 80px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
.about .cover_box:hover .shade {
  opacity: 1;
}
.about .content {
  padding: 30px 40px;
  min-height: 460px;
}
.about .content .name {
  font-size: 18px;
  color: #918C8C;
  padding: 10px 0;
}
.about .content .h3 {
  padding: 20px;
  background: linear-gradient(276.14deg, #6cbc41 0%, #33499c 100%);
  color: #fff;
  margin-bottom: 20px;
}
.about .content .lead {
  font-size: 14px;
  line-height: 24px;
  color: #878686;
  margin-bottom: 6px;
}
.about .data {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 60%;
  background: #fff;
  border-radius: 30px 0 0 0;
  padding: 30px 0 20px;
}
.about .data .box {
  text-align: center;
}
.about .data .box .text {
  font-size: 18px;
  color: #6B6B6B;
}
.about .data .box .date {
  padding-top: 6px;
}
.about .data .box .date .num {
  font-size: 56px;
  font-weight: 600;
  color: #33499C;
}
.about .data .box .date .ide {
  font-size: 20px;
  color: #33499C;
}
.product {
  position: relative;
}
.product .main .content {
  padding: 30px 40px;
  min-height: 650px;
  display: flex;
  align-items: center;
}
.product .main .content .name {
  font-size: 18px;
  color: #918C8C;
  padding: 10px 0;
}
.product .main .content .h3 {
  padding: 20px;
  background: linear-gradient(276.14deg, #6cbc41 0%, #33499c 100%);
  color: #fff;
  margin-bottom: 20px;
}
.product .main .content .lead {
  font-size: 14px;
  line-height: 24px;
  color: #878686;
  margin-bottom: 6px;
}
.product .main .content .link {
  display: inline-block;
  width: auto;
  margin-top: 30px;
  color: #33499C;
  font-weight: 500;
  font-size: 18px;
}
.product .main .product_list .item {
  margin-bottom: 30px;
  position: relative;
}
.product .main .product_list .item .b_content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product .main .product_list .item .b_content .l_text {
  flex: 1;
  padding-right: 10px;
  color: #fff;
}
.product .main .product_list .item .b_content .l_text .sub {
  font-size: 14px;
}
.product .main .product_list .item .b_content .l_text .l_name {
  font-size: 18px;
  font-weight: 600;
}
.product .main .product_list .item .b_content .price {
  flex: none;
  color: #FFE600;
}
.product .main .product_list .item .b_content .price .num {
  font-size: 24px;
  font-weight: 600;
}
.product .main .product_list .col_md:first-child {
  padding-top: 30%;
}
.organization .content {
  padding-top: 20%;
  color: #fff;
}
.organization .content .name {
  font-size: 18px;
}
.organization .content .title {
  font-size: 26px;
  line-height: 36px;
  color: #fff;
  padding: 10px 0;
}
.organization .content .lead {
  color: #fff;
  font-weight: 400;
}
.organization .content .arrow {
  margin-top: 30px;
}
.organization .content .arrow .iconfont {
  cursor: pointer;
  font-size: 26px;
  color: #fff;
  margin-right: 20px;
  font-weight: 400;
  opacity: 0.3;
}
.organization .content .arrow .iconfont:hover {
  opacity: 1;
}
.organization .organization_list {
  overflow-x: hidden;
}
.organization .organization_list .organization_swiper .slide {
  padding: 60px 0;
}
.organization .organization_list .organization_swiper .slide .item {
  border-radius: 100px 0;
  box-shadow: 0 0 46px #00000026;
  position: relative;
  height: 240px;
  padding: 60px 20px 20px;
  text-align: center;
  background: linear-gradient(219.63deg, #c7df8f 0%, #1ea4ae 100%);
}
.organization .organization_list .organization_swiper .slide .item .cover_box {
  width: 120px;
  height: 120px;
  position: absolute;
  top: -24%;
  left: 50%;
  transform: translateX(-50%);
}
.organization .organization_list .organization_swiper .slide .item .name {
  font-size: 18px;
  color: #fff;
}
.organization .organization_list .organization_swiper .slide .item .lead {
  margin: 10px 0 0;
  font-size: 12px;
  line-height: 24px;
  color: #fff;
  font-weight: 400;
  opacity: 0.8;
}
.organization .organization_list .organization_swiper .slide .item .link {
  margin-top: 12px;
  font-size: 14px;
  width: auto;
  color: #fff;
  font-weight: 400;
}
.organization .organization_list .organization_swiper .slide:nth-child(1) .item {
  background: linear-gradient(219.63deg, #c7df8f 0%, #1ea4ae 100%);
}
.organization .organization_list .organization_swiper .slide:nth-child(2) .item {
  background: linear-gradient(45deg, #d74177 0%, #ffe98a 100%);
}
.organization .organization_list .organization_swiper .slide:nth-child(3) .item {
  background: linear-gradient(44.37deg, #bec95b 0%, #ffc400 100%);
}
.recommend {
  position: relative;
  padding: 200px 0;
}
.recommend .main {
  border-radius: 200px 50px;
  background: #fff;
  box-shadow: 0 0 85px #00000014;
}
.recommend .main .content {
  padding-bottom: 40px;
}
.recommend .main .content .col_md {
  position: relative;
}
.recommend .main .content .col_md .re_line {
  margin: 10px auto;
}
.recommend .main .content .col_md:nth-child(1) .re_line {
  width: 40px;
  height: 3px;
  border-radius: 1.5px;
  background: linear-gradient(270deg, #00b0ff 0%, #31489b 100%);
  box-shadow: 0 0 20px #71717159;
}
.recommend .main .content .col_md:nth-child(2) .re_line {
  width: 40px;
  height: 3px;
  border-radius: 1.5px;
  background: linear-gradient(270deg, #ffa246 0%, #cb0909 100%);
  box-shadow: 0 0 20px #71717159;
}
.recommend .main .content .col_md:nth-child(2)::before {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 1px;
  height: 200px;
  background: #c7c7c7;
  opacity: 0.4;
}
.recommend .main .content .col_md:nth-child(2)::after {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  width: 1px;
  height: 200px;
  background: #c7c7c7;
  opacity: 0.4;
}
.recommend .main .content .col_md:nth-child(3) .re_line {
  width: 40px;
  height: 3px;
  border-radius: 1.5px;
  background: linear-gradient(270deg, #70bb45 0%, #092c88 100%);
}
.recommend .main .content .item {
  text-align: center;
  transition: 0.8s ease;
}
.recommend .main .content .item .link {
  padding: 20px 30px;
}
.recommend .main .content .item .cover_box {
  width: 145px;
  height: 145px;
  margin: auto;
  transition: 0.8s ease;
}
.recommend .main .content .item .name {
  font-size: 26px;
  color: #000;
  margin-top: 10px;
}
.recommend .main .content .item .lead {
  color: #717171;
  font-weight: 400;
  margin-top: 20px;
}
.recommend .main .content .item:hover .cover_box {
  transform: scale(1.6);
}
.recommend .main .content .item:hover .re_line {
  display: none;
}
.recommend .main .content .item:hover .lead {
  display: none;
}
.join_us {
  position: absolute;
  top: -40%;
  left: 50%;
  transform: translateX(-50%);
}
.join_us .main {
  width: 1000px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 0 50px #0000001c;
  margin: auto;
  padding: 80px 100px;
  text-align: center;
}
.join_us .main .h3 {
  color: #33499C;
  font-size: 28px;
}
.join_us .main .sub {
  color: #848484;
  padding: 10px 0 20px;
}
.join_us .main .form {
  margin-bottom: 20px;
}
.join_us .main .form .wrap {
  border-radius: 45px;
  position: relative;
}
.join_us .main .form .wrap .input {
  border-radius: 50px;
  height: 50px;
  padding: 0 20px;
}
.join_us .main .form .wrap .btn {
  border-radius: 50px;
  background: linear-gradient(276.14deg, #6cbc41 0%, #33499c 100%);
  width: 250px;
  height: 50px;
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  font-size: 18px;
}
.join_us .main .lead {
  color: #848484;
  font-weight: 400;
}
.company_about {
  position: relative;
}
.company_about .head_bg {
  font-size: 140px;
}
.company_about .left_box {
  overflow: hidden;
}
.company_about .left_box .company_swiper .swiper-pagination {
  bottom: 20px;
}
.company_about .left_box .company_swiper .swiper-pagination .swiper-pagination-bullet {
  background: #fff;
  opacity: 0.7;
}
.company_about .left_box .company_swiper .swiper-pagination .swiper-pagination-bullet-active {
  width: 20px;
  opacity: 1;
  border-radius: 4px;
}
.company_about .content {
  padding: 40px 0 40px 40px;
}
.company_about .content .date {
  font-size: 24px;
  line-height: 34px;
  color: #918C8C;
  padding: 10px 0;
}
.company_about .content .name {
  display: inline-block;
  width: 350px;
  height: 80px;
  font-size: 34px;
  line-height: 80px;
  padding-left: 30px;
  border-radius: 10.1px 50.5px 50.5px 10.1px;
  background: linear-gradient(276.14deg, #6cbc41 0%, #33499c 100%);
  color: #fff;
  margin-bottom: 20px;
}
.company_about .content .lead {
  font-size: 14px;
  line-height: 26px;
  color: #878686;
}
.company_about ._right {
  top: 70%;
}
